* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 62.5%; /* 1rem === 10px */
}

body {
  background-color: #6444ff;
  height: 100vh;
  min-width: 35rem;
  display: flex;
  padding: 0 2rem;

}

main {
  margin: auto;
  width: 100%;
  max-width: 45rem;
  padding: 2.5rem;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .75);
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 1.25rem;
  color: #6444ff;
}

label {
  font-size: 2rem;
  text-transform: capitalize;
}

button#submit {
  display: block;
  width: 100%;
  padding: .5rem;
  border-radius: 5px;
  border: none;
  font-size: 1.75rem;
  color: #fff;
  background-color: #6444ff;
  cursor: pointer;
  text-transform: uppercase;
}

.input-wrapper {
  width: 100%;
  position: relative;
  box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
}

.input-wrapper input[type="password"],
.input-wrapper input[type="text"] {
  padding: .6rem 2.5rem .6rem .6rem;
  height: 3.5rem;
  width: 100%;
  font-size: 1.6rem;
  border-radius: 5px;
  border: none;
  outline: none;
}

.input-wrapper {
  margin-bottom: 1.5rem;
}

/* Estilizar o ícone */
.input-wrapper .icon-box {
  background-color: transparent;
  border: none;
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
  text-align: 3.5rem;
  top: 0;
  right: 0;
  font-size: 2rem;
  cursor: pointer;
}
