*, body {
  padding: 0;
  margin: 0;
  user-select: none;
}

body {
  background-color: #ebebeb;
  font-family: "Source Sans Pro", sans-serif;
}

.main-sidebar {
  position: fixed;
  top: 0;
  left: 0;

  height: 100vh;
  width: 70px;
  overflow: hidden;
  white-space: nowrap;

  background-color: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 0 20px #d4d4d4;

  transition: width 400ms ease;
}

.main-sidebar.active,
.main-sidebar:hover {
  width: 275px;
  overflow-y: auto;
}

.main-sidebar ul {
  height: 100%;
  width: 100%;
  list-style: none;
}

.main-sidebar ul li a {
  font-size: 20px;
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #666;
  font-weight: 400;
}

.main-sidebar ul.treelist li a {
  padding-left: 15px;
}

.main-sidebar ul li a.active,
.main-sidebar ul li a:hover {
  background-color: #d6d6d6;
  cursor: pointer;
}

.main-sidebar .treelist li a.active {
  font-weight: 600;
  background-color: #f3f3f3;
}

.main-sidebar ul li a > i.fa:first-child {
  font-size: 25px;
  width: 40px;
  padding: 10px;
  color: gray;
}

.main-sidebar ul li a.active > i.fa:first-child,
.main-sidebar ul li a:hover > i.fa:first-child {
  color: orange;
}

.main-sidebar .treeview > a {
  position: relative;
}

.main-sidebar .treeview > a > i:last-child {
  position: absolute;
  top: 50%;
  left: 90%;
  font-size: 22px;
  opacity: 0;
  transform: translateY(-50%);
  transition: opacity 400ms, transform 400ms;
}

/* showing the caret icon only when the sidebar is opened */
.main-sidebar:hover .treeview > a > i:last-child,
.main-sidebar.active .treeview > a > i:last-child { 
  opacity: 1;
}

.main-sidebar .treeview > a:hover  > i:last-child {
  transform: translateY(-50%) rotate(-180deg);
}

.main-sidebar .treeview > a.active  > i:last-child::before {
  content: '\f0d8';
}

.main-sidebar .treeview .treelist {
  background-color: #f3f3f3;
  display: none;
  transition: 300ms;
}

.main-sidebar .treeview .treelist.show {
  display: block;
}

/* .main-sidebar .treeview .treelist li a {

} */


/* settings of scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent !important;
}

::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 10px;
}